# Welcome to the Dark Art of Coding:
## Introduction to Python
Data Handling

<img src='../images/dark_art_logo.600px.png' width='300' style="float:right">

# Objectives
---

In this session, students should expect to:

* Merge DataFrames effectively
* Unstack your data
* Replace unwanted data with better versions

# Merging data
---

In [5]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

We start off with two data sets. One is shorter than the other but generally they're similar. Both have a column with names and a column with countries

In [ ]:
readers1 = pd.read_csv('reader_stats.csv')
readers2 = pd.read_csv('reader_stats_short.csv')

print("readers1 data:", '\n', readers1)
print('-' * 40)
print("readers2 data:", '\n', readers2)

Built in functions of pandas let us merge two data frames together in multiple different ways. These merges are similar to the ones you might see in a SQL database

In [ ]:
readerso = pd.merge(readers1, readers2, how='outer')
readersi = pd.merge(readers1, readers2, how='inner')
readersl = pd.merge(readers1, readers2, how='left')
readersr = pd.merge(readers1, readers2, how='right')

In [ ]:
print('Outer Join\n')
readerso

In [ ]:
print('Inner Join\n')
readersi

In [ ]:
print('Left Join\n')
readersl

In [ ]:
print('Right Join\n')
readersr

NOTE: Please be aware, that unless you specify otherwise, these joins are based on the contents of the entire row. In many cases, we simply want to join based on the contents one or more columns.

# Key columns
Remember, DataFrames can be built from dictionaries, using the keys of the dictionary as the source of the column in the DataFrame. Any elements (stored as a sequence) in the values associated with those keys then become the elements in the respective column

Here, we are creating some **key** columns that we can use to create joins...

In [ ]:
dfa = DataFrame({'key':     ['bruce', 'bruce', 'diana', 'bruce', 'hal', 'diana', 'kara'],
                 'emails_left': [112, 111, 201, 109, 113, 203, 204]}) 

dfb = DataFrame({'key':        ['hal', 'bruce', 'selina', 'diana'],
                 'ages_right': [36, 37, 33, 34]})

In [ ]:
# Imagine, that using the previous data, we wanted to do an analysis of emails versus
# age (i.e. whether age impacts the number of emails someone receives over time).
# Let's start with a Left Join: 

dfl = pd.merge(dfa, dfb, on='key', how='left')

In [ ]:
# Now, let's look at an Inner Join:

dfi = pd.merge(dfa, dfb, on='key', how='inner')

## Multiple key columns

In [ ]:
# Here, again, we create a set of DataFrames based on dictionaries.
# This time we choose to use more than one column that will be used as keys to
# match data in each of the DataFrames.


dfa = DataFrame({'fname_key': ['bruce', 'bruce', 'hal', 'selina', 'hal'],
                 'lname_key': ['wayne', 'jordan', 'wayne', 'kyle', 'jordan'],
                 'ages_left': [37, 53, 54, 33, 36]})

dfb = DataFrame({'fname_key': ['hal', 'bruce', 'hal', 'kara', 'hal'],
                 'lname_key': ['jordan', 'wayne', 'jordan', 'zor-el', 'jordan'],
                 'emails_right': [189, 111, 193, 253, 187]})

# Outer Join 
dfo = pd.merge(dfa, dfb, on=['fname_key', 'lname_key'], how='outer')

In [ ]:
# Inner Join
dfi = pd.merge(dfa, dfb, on=['fname_key', 'lname_key'], how='inner')

In [ ]:
dfi

In [ ]:
# NOTE: DataFrames can be merged on indexes, as opposed to using a column(s).
# A closer look at the 'how' is left as an exercise for the student...
# ===========================================================================

# Concatenation
---

In [ ]:
# pandas can not only join data, but it can be used to concatenate data as well.
# The default concatenation method is to stack data on top of each other

names1 = Series(['wayne', 'jordan'], index=[1, 2])
names2 = Series(['dinah', 'kent'], index=[4, 5])
names3 = Series(['rayner', 'gordon', 'grayson'], index=[6, 7, 8])

pd.concat([names1, names3, names2], axis=0)

# An alternate method is to stack columns side by side
# pd.concat([names1, names3, names2], axis= 1)

In [ ]:
names4 = pd.concat([names1, names3])
pd.concat([names1, names4], axis=1)

In [ ]:
output = pd.concat([names1, names3, names3], keys=['rho', 'sigma', 'tau'])
output

In [ ]:
output = pd.concat([names1, names3, names3], axis=1, keys=['rho', 'sigma', 'tau'])
output

In [ ]:
# To prep our next data set, we'll use yet another way to generate DataFrames...
# These nested lists will become the rows in our DataFrame
# AS a reminder, you can assign columns when you generate the Frame
# If you don't have any need for the original indexes, you can ignore
# them and pandas will auto-generate an brand-new index on the fly when you do a 
# concatenation.

dfa = DataFrame([[11, 21, 31, 41],
                 [13, 25, 32, 49],
                 [11, 21, 31, 41],
                 [11, 21, 31, 42]], columns=['iota', 'kappa', 'lambda', 'mu'])

dfb = DataFrame([[55, 66, 77],
                 [53, 63, 73]], columns=['kappa', 'lambda', 'mu'])

print(dfa)
print(dfb)

pd.concat([dfa, dfb], ignore_index=True)

# Unstacking
---

In [ ]:
# When generating DataFrames, another common method, especially with ranges of
# data OR with randomized data is to use functions in numpy to seed
# the Frame with ranges and/or randomized values. 
# Here, we are creating a Frame with the numbers 100 to 114 and shaping it to be a 
# three by five table.

import numpy as np
df = DataFrame(np.arange(100, 115).reshape((3, 5)),
               index=pd.Index(['kara', 'dinah', 'selina'], name='justiceleague'),
               columns=pd.Index(['wed', 'thu', 'fri', 'sat', 'sun'], name='day'))
df

In [ ]:
# The default level to unstack is the innermost
df.unstack()

In [6]:
# You can refer to the level to unstack by an integer number, starting
# with the farthest left being noted as 0. By default, pandas unstacks from the innermost level of a multi-level hierarchical index.

# The following code comes directly from the pandas documentation:
# http://pandas.pydata.org/pandas-docs/stable/advanced.html
# Several take-aways for this code... 
#     * use the documentation > plenty of great examples are in there.
#     * the inputs can be cut and pasted straight into IPython without removing the
#       In[x] prompts or the ...: prompts. Nice timesaver
#     * This MultiIndex dataframe is a nice setup for demoing multilevel unstacking
 
'''
In [1]: arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
   ...:           ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
   ...: 
In [2]: tuples = list(zip(*arrays))
In [3]: tuples
Out[3]: 
[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]
In [4]: index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
In [5]: index
Out[5]: 
MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])
In [6]: s = pd.Series(np.random.randn(8), index=index)
In [7]: s
Out[7]: 
first  second
bar    one       0.469112
       two      -0.282863
baz    one      -1.509059
       two      -1.135632
foo    one       1.212112
       two      -0.173215
qux    one       0.119209
       two      -1.044236
dtype: float64
'''
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
s = pd.Series(np.random.randn(8), index=index)

In [7]:
# Using the example above, it is possible to demonstrate several levels of unstacking.
# As noted, the default level of unstacking is to unstack from the innermost level
# of a MultiIndex. Levels are numbered started at the outermost level being '0' and 
# incrementing as they move inward.

print(s)
print(s.unstack(1))
print(s.unstack(0))

first  second
bar    one       1.006308
       two      -1.795884
baz    one      -2.153792
       two      -0.811939
foo    one      -1.193041
       two       0.880618
qux    one      -0.938917
       two      -0.195239
dtype: float64
second       one       two
first
bar     1.006308 -1.795884
baz    -2.153792 -0.811939
foo    -1.193041  0.880618
qux    -0.938917 -0.195239
first        bar       baz       foo       qux
second
one     1.006308 -2.153792 -1.193041 -0.938917
two    -1.795884 -0.811939  0.880618 -0.195239

In [8]:
# NOTE: You can refer to the level to unstack by the name of the Index.

s.unstack('second')

second       one       two
first
bar     1.006308 -1.795884
baz    -2.153792 -0.811939
foo    -1.193041  0.880618
qux    -0.938917 -0.195239

# Pivot table
---

In [9]:
# Another great tool for looking at your data in more convenient ways is to use a 
# pivot table. Let's start with a DataFrame that has three columns based on 
# this list of lists. A timestamp, a Justice League hero and the number of 
# Tweets they received on a given day.

league = DataFrame([['2016-03-10T00:00:00', 'jordan', 221],
                    ['2016-03-10T00:00:00', 'wayne', 222],
                    ['2016-03-10T00:00:00', 'kyle', 345],
                    ['2016-03-11T00:00:00', 'jordan', 222],
                    ['2016-03-11T00:00:00', 'wayne', 223],
                    ['2016-03-11T00:00:00', 'kyle', 323],
                    ['2016-03-12T00:00:00', 'jordan', 201],
                    ['2016-03-12T00:00:00', 'wayne', 209],
                    ['2016-03-12T00:00:00', 'kyle', 340],
                    ['2016-03-13T00:00:00', 'jordan', 220],
                    ['2016-03-13T00:00:00', 'wayne', 223],
                    ['2016-03-13T00:00:00', 'kyle', 339],
                    ['2016-03-14T00:00:00', 'jordan', 201],
                    ['2016-03-14T00:00:00', 'wayne', 219],
                    ['2016-03-14T00:00:00', 'kyle', 345]],
                    columns=['timestamp', 'jleague', 'tweets'])

In [10]:
# From the league DataFrame, we can create a pivot table using the pivot() command:

tweet_view = league.pivot('timestamp', 'jleague', 'tweets')
tweet_view

jleague              jordan  kyle  wayne
timestamp
2016-03-10T00:00:00     221   345    222
2016-03-11T00:00:00     222   323    223
2016-03-12T00:00:00     201   340    209
2016-03-13T00:00:00     220   339    223
2016-03-14T00:00:00     201   345    219

In [11]:
league['fan_index'] = abs(np.random.randn(len(league)))
league

              timestamp jleague  tweets  fan_index
0   2016-03-10T00:00:00  jordan     221   0.985120
1   2016-03-10T00:00:00   wayne     222   0.392419
2   2016-03-10T00:00:00    kyle     345   1.297249
3   2016-03-11T00:00:00  jordan     222   0.787366
4   2016-03-11T00:00:00   wayne     223   0.362896
5   2016-03-11T00:00:00    kyle     323   0.375489
6   2016-03-12T00:00:00  jordan     201   1.745236
7   2016-03-12T00:00:00   wayne     209   1.407573
8   2016-03-12T00:00:00    kyle     340   0.144200
9   2016-03-13T00:00:00  jordan     220   1.330593
10  2016-03-13T00:00:00   wayne     223   1.292745
11  2016-03-13T00:00:00    kyle     339   0.194182
12  2016-03-14T00:00:00  jordan     201   0.844492
13  2016-03-14T00:00:00   wayne     219   0.643619
14  2016-03-14T00:00:00    kyle     345   1.494506

In [12]:
tweet_view2 = league.pivot('timestamp', 'jleague')
tweet_view2

                    tweets            fan_index
jleague             jordan kyle wayne    jordan      kyle     wayne
timestamp
2016-03-10T00:00:00    221  345   222  0.985120  1.297249  0.392419
2016-03-11T00:00:00    222  323   223  0.787366  0.375489  0.362896
2016-03-12T00:00:00    201  340   209  1.745236  0.144200  1.407573
2016-03-13T00:00:00    220  339   223  1.330593  0.194182  1.292745
2016-03-14T00:00:00    201  345   219  0.844492  1.494506  0.643619

In [13]:
tweet_view2['fan_index']

jleague                jordan      kyle     wayne
timestamp
2016-03-10T00:00:00  0.985120  1.297249  0.392419
2016-03-11T00:00:00  0.787366  0.375489  0.362896
2016-03-12T00:00:00  1.745236  0.144200  1.407573
2016-03-13T00:00:00  1.330593  0.194182  1.292745
2016-03-14T00:00:00  0.844492  1.494506  0.643619

# Removing duplicates and replacing values
---

In [14]:
# Dropping duplicates
dfd = dfa
dfd['zeta'] = [4, 1, 4, 1]
dfd

NameError: name 'dfa' is not defined

In [ ]:
dfd.duplicated()

In [ ]:
dfd.drop_duplicates()

# dfd.drop_duplicates(['iota', 'kappa'])
# dfd.drop_duplicates(['iota', 'kappa'], take_last=True)

In [ ]:
# Using .map()

# legend:
# 0 = 'm'
# 1 = 'f'

genders = {'selina kyle': '1',
           'bruce wayne': '0',
           'dinah lance': '1',
           'hal jordan': '0',
           'clark kent': '0',
           'barry allen': '0',
           'arthur curry': '0',
           'billy batson': '0',
           'barbara gordon': '1',
           'kara zor-el': '1',
           'john jones': '0',
           'diana prince': '1',
           'dick grayson': '0',
           'john jones': '0',
           'victor stone': '0',
           'ray palmer': '0',
           'john constantine': '0',
           'kyle rayner': '0',
           'wally west': '0'}


it = pd.read_csv('ig_tweets.csv')
it

In [ ]:
def gen_conv(x):
    g = genders[x.lower()]
    if g == '0':
        return 'm'
    if g == '1':
        return 'f'

it['gender'] = it['jleague'].map(gen_conv)

In [ ]:
it

In [ ]:
# What if you want to cleanse some of the data upfront using a simple function 
# associated with strings:
# change all the data to lowercase, uppercase, capitalize it, etc...

it['jleague2'] = it['jleague'].map(str.lower)

In [ ]:
it

In [ ]:
# You can also replace certain values wholesale if desired, using the replace() function
# Using .replace()
it.gender.replace('f', 'Female')

In [ ]:
it.gender.replace(['f', 'm'], ['Female', 'Male'])

In [ ]:
msgs = it.tweets
bins = [2, 5, 9, 15]
labels = ['few', 'medium', "aren't there bad guys to catch"]
categories = pd.cut(msgs, bins, labels)

categories

In [ ]:
# math notation ... '(' open   OR exclusive
#                   ']' closed OR inclusive
# 2 < x <= 5        (2, 5]

#                   right=True/False

pd.value_counts(categories)

In [ ]:
it['workload'] = pd.cut(it.tweets, bins, labels=labels)
it