# Welcome to the Dark Art of Coding:
## Introduction to Python
pandas: reading in files

<img src='../images/dark_art_logo.600px.png' width='300' style="float:right">

# Importing pandas, etc
---

When using pandas, it is common to import pandas as `pd` and to simply import the factory functions: `Series` and `DataFrames`

In [1]:
import pandas as pd
from pandas import Series, DataFrame

Pandas is adept at reading in many, many data formats 

To see which ones, you can type pd.read and use **tab completion**

```python
pd.read<Press the tab key>
```

In [ ]:
pd.read

# Reading from the clipboard
---

Let's start by reading from the clipboard after we copy data from a table on a webpage.

There is a sample file in the folder called:

```bash
sample_table.html
```

IF you open this file with your browser, you will see a table. Copying this table to the clipboard, allows you to read in the content to pandas directly.

In [ ]:
webdata = pd.read_clipboard()
webdata

This produces a DataFrame in memory. As with all DataFrames, you can access:

* the columns
* the rows
* the `.attributes`
* the `.methods()` 

Try these on your IPython interface:

* webdata.C<press the tab key>
* webdata.Column1

# Reading from CSV
---

We will focus on `csv` and `sql` for remainder of this discussion
Let's dive into `csv` first.

To read from `csv` files, we use the `.read_csv()` method.

In [ ]:
# In the results, notice the column headers.
# By default, pandas will use the first
#     row as a header row...  
#     thus 'barry allen' shows up a the header for column 1.
# Maybe NOT what you want...

In [ ]:
data = pd.read_csv('log_file.csv')
data

In [ ]:
# if we include a list of names in the function
# call, pandas will use those as the headers,
# instead of the first row.

In [ ]:
named_cols = pd.read_csv('log_file.csv',
                         names=['name', 
                                'email', 
                                'fmip', 
                                'toip',
                                'datetime', 
                                'lat', 
                                'long', 
                                'payload'])

In [ ]:
# The .info() method shows us some details 
#     about our new DataFrame

named_cols.info()

It is not necessary to ingest all the lines from a file. 

Presuming that certain lines lack useful information... 

* metadata
* header lines
* document data, etc.

In this case, let's skip rows 1, 2, 3, 7, and 9 from the csv.

In [ ]:
skipped_rows = pd.read_csv('log_file.csv', 
                           names=['name', 'email', 'fmip', 'toip',
                                  'datetime', 'lat', 'long', 'payload'],
                           skiprows=[1, 2, 3, 7, 9])

# And let's look at just one of the columns.
skipped_rows.fmip

You may receive files with alternate separators/delimiters. Pandas gives you tools to  
deal with this situation.

In [ ]:
# This file uses a 'pipe' character as the separator.

piped_data = pd.read_csv('log_file_pipes.csv',
                         names=['name', 'email', 'fmip',
                                'toip', 'datetime', 'lat',
                                'long', 'payload'],
                         sep='|')

In [ ]:
# There are builtin tools that let you 
#     examine subsets of the data and can
#     help you get a sense of what the data
#     looks like, without displaying all the 
#     data to the screen.

# piped_data.tail(3)
piped_data.head(4)

## Indexing

When reading in data, `pandas` assigns a default index of `0..n`. Sometimes we want to use something different than the default indexing.

We **can choose** a particular column to be used as an index.

Here we chose to use the `datetime` column

In [ ]:
import pandas as pd
date_index = pd.read_csv('log_file.csv', 
                         names=['name', 'email', 'fmip', 'toip',
                                'datetime', 'lat', 'long', 'payload'],
                         index_col='datetime')

In [ ]:
# If we have an index, we can select data from the DataFrame
# based on the index. In this case, since we just made the
# date/time our index, we can
# easily select rows based on the date/time stamps

date_index.ix['2016-02-06T21:44:56':'2016-02-06T21:49:36']

# NOTE: we get a deprecation warning...

In [ ]:
date_index.loc['2016-02-06T21:44:56':'2016-02-06T21:49:36']

# Experience Points!
---

In your **text editor** create a simple script called:

```bash
my_pandas_01.py```

Execute your script in the **IPython interpreter** using the command:

```bash
run my_pandas_01.py```

With a text editor look inside the file `log_file_sign.csv` and try to figure out what the seperating character is.
Once you have your seperating character open the file with the pandas read csv by doing the following

* Assign the seperator character to the one you found
* Skip the rows that are even numbers by using `range()` to count up to 1000 stepping by twos
* Index the dataframe by datetime
* And then print out the data between the index `2016-01-29T22:27:34` and `2016-01-28T22:34:28`

When you complete this exercise, please put your green post-it on your monitor. 

If you want to continue on at your own-pace, please feel free to do so.

<img src='../images/green_sticky.300px.png' width='200' style='float:left'>

In [3]:
sign_Dframe = pd.read_csv('log_file_sign.csv', 
                           names=['name', 'email', 'fmip', 'toip',
                                  'datetime', 'lat', 'long', 'payload'],
                           skiprows=range(0, 1001, 2),
                           sep='!',
                           index_col='datetime')

In [8]:
sign_Dframe.loc['2016-01-29T22:27:34':'2016-01-28T22:34:28']

,name,email,fmip,toip,lat,long,payload
datetime,,,,,,,
2016-01-29T22:27:34,victor stone,vstone@jleague.org,102.86.56.199,169.28.228.153,45.89511,7.61965,473634
2016-01-29T22:29:51,selina kyle,skyle@jleague.org,60.15.193.74,106.152.115.161,45.87656,8.68014,921805
2016-01-29T22:30:12,dick grayson,dgrayson@jleague.org,102.86.56.199,60.15.193.250,48.01602,11.12864,200218
2016-01-28T22:32:04,arthur curry,acurry@jleague.org,75.122.132.124,220.211.18.12,48.24227,9.27748,772258
2016-01-28T22:34:28,bruce wayne,bwayne@jleague.org,106.152.114.248,106.152.114.9,45.13783,7.78578,217491

# Missing data
---

Some files have missing data or markers indicating that data is not available.

In [ ]:
data_na = pd.read_csv('log_file_na.csv', 
                      names=['name', 'email', 'fmip',
                             'toip', 'datetime', 'lat',
                             'long', 'payload'])

data_na
# data_na.dropna()

In [ ]:
# Checking for na status and converting the value to an NaN
# flag is a time consuming process that might not be
# optimal when loading data.
# You _can_ turn this process off

In [ ]:
data_na = pd.read_csv('log_file_na.csv', 
                      names=['name', 'email', 'fmip',
                             'toip', 'datetime', 'lat', 
                             'long', 'payload'],
                      na_filter=False)

data_na

In [ ]:
# You can provide a list of particular values to use
# as na values. Some files or software will use sentinels
# or flag values to represent a null value.
# NOTE: in this case, pandas will combine the na_values
# you give with the built-in na values.

In [ ]:
data_na = pd.read_csv('log_file_na.csv', 
                      names=['name', 'email', 'fmip',
                             'toip', 'datetime', 'lat',
                             'long', 'payload'],
                      na_values=['', '9999'])
data_na

In [ ]:
data_na = pd.read_csv('log_file_na.csv', 
                      names=['name', 'email', 'fmip',
                             'toip', 'datetime', 'lat',
                             'long', 'payload'],
                         na_values=['', '9999'],
                         keep_default_na=False)

data_na

In [ ]:
data_na = pd.read_csv('log_file_na.csv', 
                      names=['name', 'email', 'fmip',
                             'toip', 'datetime', 'lat',
                             'long', 'payload'],
                      na_values=['', '9999'], 
                      keep_default_na=False,
                      nrows=7)
data_na

In [ ]:
data = pd.read_csv('log_file.csv', 
                   names=['name', 'email', 'fmip', 
                          'toip', 'datetime', 'lat',
                          'long', 'payload'],
                   chunksize=3)

for chunk in data:
    print('\npre-processing')
    print('more pre-processing')
    print('even more pre-processing')
    print(chunk)
    print('post processing\n')

In [ ]:
# If you want to convert data in one of your
# columns, you can use a dictionary
# to define which conversion function(s)
# to use against which columns(s)

In [ ]:
def dsplitter(address):
    userid, domain = address.split('@')
    return userid, domain

def date_only(datetime):
    return datetime.split('T')[0]

data = pd.read_csv('log_file.csv', 
                   names=['name', 'email', 'fmip',
                          'toip', 'datetime', 'lat',
                          'long', 'payload'],
                   converters={'email':dsplitter,
                               'datetime':date_only})
data

In [ ]:
data = pd.read_csv('log_file.csv', 
                   names=['name', 'email', 'fmip',
                          'toip', 'datetime', 'lat',
                          'long', 'payload'],
                   usecols=['email', 'fmip', 'toip'])

data

In [ ]:
import sqlite3
conn = sqlite3.connect('log_file.sql')
cur = conn.cursor()

df = pd.read_sql("SELECT * FROM superheroes", conn)
df

In [ ]:
df1 = pd.read_sql('''SELECT datetime, email, lat, long FROM superheroes
                          WHERE name LIKE "%wayne%"''', conn)
df1

In [ ]:
df2 = pd.read_sql('''SELECT datetime, email, lat, long
                     FROM superheroes
                     WHERE name LIKE "%wayne%"''',
                  conn,
                  index_col='datetime')
df2

In [ ]:
df2.to_csv('class_out.csv',
           cols=['email', 'lat', 'long', 'name'],
           header=True, sep='|')

# Backups...

In [ ]:
webdata.loc[webdata.index[[0, 2, 3]], 'Column5']

# Experience Points!
---

In your **text editor** create a simple script called:

```bash
my_pandas_02.py```

Execute your script in the **IPython interpreter** using the command:

```bash
run my_pandas_02.py```

Use pandas to read in from the sql database `log_file.sql` getting only the columns: `lat`, `long`, and `datetime` with only the rows where the name has `barry`

Then using the pandas dataframe you've made print the first ten rows

When you complete this exercise, please put your green post-it on your monitor. 

If you want to continue on at your own-pace, please feel free to do so.

<img src='../images/green_sticky.300px.png' width='200' style='float:left'>

In [13]:
import sqlite3
conn = sqlite3.connect('log_file.sql')
cur = conn.cursor()

df = pd.read_sql('SELECT lat, long, datetime FROM superheroes WHERE name LIKE "%barr%"', conn)
df.head(10)

        lat      long             datetime
0  49.30464   10.3254  2016-02-07T22:00:29
1  46.72098   9.48699  2016-02-07T22:15:35
2  49.28576   7.50481  2016-01-29T23:12:24
3  45.85451  10.54693  2016-01-23T23:30:29
4  49.06199    8.9948  2016-01-20T23:38:00
5  48.53909     9.927  2016-01-16T00:02:07
6  45.26674   7.57107  2016-01-14T00:15:46
7  49.43146  12.34828  2016-01-14T00:24:31
8    46.183   9.19662  2016-01-13T00:27:52
9   47.5667   9.66882  2016-01-12T00:30:15